* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
button,
input,
select,
textarea {
  color: black;
  &:focus {
    outline: none;
  }
}

html {
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: $white;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
